.sidebar {
  background-color: var(--discord-color-dark);
  height: 100vh;
  flex: 0.04;

  &__serverContainer {
    margin-top: 10px;
    width: 100%;
    flex-direction: column;
    display: flex;
    align-items: center;
    color: white;
    overflow: auto;
  }

  &__addServerIcon {
    width: 48px !important;
    height: 48px !important;
    cursor: pointer;
  }
}
