body {
  --discord-color: #36393f;
  --discord-color-accent: #2f3135;
  --discord-color-dark: #202225;
  --discord-color-search-text-placeholder: #727477;
  --discord-color-green: #43b581;
  --discord-color-red: #f04747;
  --discord-color-red-hover: #D72E2E;
}

.app {
  display: flex;
}
