body {
  --discord-color: #36393f;
  --discord-color-accent: #2f3136;
  --discord-color-dark: #202225;
  --discord-color-search-text-placeholder: #727477;
  --discord-color-green: #43b581;
}

.app {
  display: flex;
  height: 100%;

  &__container {
    flex: 1;
  }

  &__body {
    //TODO: Update this later to not be static
    height: calc(100% - 49px);
  }

  &__bodyLeft {
    height: 100%;
    background-color: var(--discord-color-accent);
    width: 240px;
    display: flex;
    align-items: flex-end;
  }
}
