.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;

  &:hover {
    background-color: var(--discord-color-accent);
  }

  &__info {
    margin-left: 20px;
  }

  &__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
  }

  &__contextMenu {
    margin-left: auto;
  }

  &__delete {
    color: var(--discord-color-red);
    cursor: pointer;

    &:hover {
      color: var(--discord-color-red-hover);
    }
  }

  &__edit {
    color: gray;
    cursor: pointer;

    &:hover {
      color: white;
    }
  }
}
