.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;

  &:hover {
    background-color: var(--discord-color-accent);
  }

  &__info {
    margin-left: 20px;
  }

  &__timestamp {
    color: gray;
    margin-left: 20px;
    font-size: x-small;
  }

  &__popover {
    position: absolute;
  }
}
