.serverButton {
  &__serverContainer {
    display: flex;
    justify-content: center;
    cursor: pointer;
  }

  &__serverImage {
    width: 48px;
    height: 48px;
    border-radius: 20px;
    margin-bottom: 10px;
  }
}