.sidebar {
  background-color: var(--discord-color-dark);
  flex-direction: column;
  align-items: center;
  height: 100vh;
  flex: 0.04;
  /* Temporary until replaced with apps */
  color: white;

  &__serverContainer {
    display: flex;
    justify-content: center;
  }

  &__serverImage {
    width: 48px;
    height: 48px;
    border-radius: 20px;
  }
}
