.sidebar {
  background-color: var(--discord-color-dark);
  width: 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* Temporary until replaced with apps */
  color: white;
}

.sidebar__serverImage {
  width: 48px;
  height: 48px;
  border-radius: 20px;
}